@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

#login {
  margin: 50px auto;
  width: 420px;
}

.form {
  margin: auto;
  padding: 20px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: #e7e7e7;
  height: 300px;
  text-align: center;
}

.text {
  background-color: #ffffff;
  border-radius: 0px 3px 3px 0px;
  color: black;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 100%;
  height: 50px;
}

.submit {
  background: #474e5d;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.submit:hover {
  background: #2f2f2f;
}
