.container_fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg_4 {
    background-color: #2f2f2f;
    color: #fff;
    position:fixed;
    bottom:0;
    width: 100%;
}
.margin_bottom_0 {
    margin-bottom : 0 !important;
}
