.container_fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg_1 {
    background-color: #1abc9c !important;
    color: #ffffff !important;
}
.bg_2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg_3 {
    background-color: #ffffff;
    color: #555555;
}
.bg_4 {
    background-color: #2f2f2f;
    color: #fff;
}
.margin_bottom_0 {
    margin-bottom : 0 !important;
}
.blue {
    color : blue !important;
}
.img_100 {
    width: 100%;
}
.margin {
    margin-bottom: 45px;
}
.p {
    font-family: sans-serif !important;
    padding: 20px;
}
